.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 10px 30px 0 30px;
  overflow-y: scroll;
}

.list .video:first-child {
  margin-top: 20px;
}

.list > .video {
  margin: 10px 0 10px 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 50px;
}

/* Media Query */
@media screen and (max-width: 991px) {
  .list {
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 0;
  }
  .list .video:first-child {
    margin-top: 0px;
    margin-left: 10px;
}
  .list .video:last-child {
    margin-left: 10px;
}
  ::-webkit-scrollbar {
    height: 5px;
  }
}

@media screen and (max-width:576px){
  .list {
    height: 120px;
}
}
