.video-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-box {
  position:relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.video {
  
  border-radius: 5px;
}

.activeClass {
  width: 110px;
}
.hidden {
  display: none;
}
.activeHr {
  display: initial;
  align-self: flex-start;
  margin: 10px 0 0 0;
  width: 30%;
  border: 0.1px solid orange;
}
.video-element-play-pause-container{
  position: absolute;
  top:51%;
  left:41%;
  width:20px;
  height:20px;
}
.video-element-position-overwrite{
  top:46%;
}
.video-element-play-pause-container img{
  width:100%;
}

.video-text {
  width: 50%;
  text-align: center;
}

.video-text h6 {
  opacity: 0.8;
  font-variant: small-caps;
}

/* Media Query */

@media screen and (max-width: 991px) {
  .video-element {
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-evenly;
    width: 110px;
    height: 130px;
  }
  .video-box .video {
    width:100px;
  }
  .video-text {
    width: 100%;
    height: 12%;
  }
  .video-box {
    height: 50%;
    width:100%;
  }
  .video-text h6 {
    margin:0;
  }
  .activeClass {
    width: 100px;
  }
  .activeHr {
    margin: 10px auto;
  }
  .video-element-play-pause-container{
    top:calc(50% - 10px);
    left: calc(50% - 5px);
  }
  
}

@media screen and (max-width:576px){
  .video-box .video {
    width: 80px;
}
.video-element {
  height: 90px;
}


}
