.app-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 992px;
  height: 391px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: -4px 6px 9px 0px rgba(173, 168, 173, 0.67);
  -moz-box-shadow: -4px 6px 9px 0px rgba(173, 168, 173, 0.67);
  box-shadow: -4px 6px 9px 0px rgba(173, 168, 173, 0.67);
}

/* Media Query */
@media screen and (max-width:991px){
  .app-container{
    flex-direction:column;
    width: 70%;
    height: 70%;
  }
}
@media screen and (max-width:576px){
  .app-container{
    flex-direction:column;
    width: 90%;
    height: 90%;
  }
}