.listContainer{
    width:30%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

/* Media Query */
@media screen and (max-width: 991px) {
    .listContainer {
      width: 100%;
      height: 250px;
    }
  }
  @media screen and (max-width:576px){
    .listContainer {
      height: 220px;
  }
  }